<div class="full_row">
<h1 class="public left small">Questions about your purchase?</h1>
<div class="column_2 no_pad">
	<ul class="public ">
		<li class="sub_title">
			I'm a teacher. Can I sample more of Ko's Journey?
		</li>
		<li>
			<p>
				If you are a teacher considering purchase but want to take a deeper look, email us at <%= link_to "support@kosjourney.com", "mailto:support@kosjourney.com", :class => 'public' %>. Include your school name, contact information and we will send you a full overview of Ko's Journey (in PDF form) that includes both the math content and the skills students will be learning. Additional samples can be provided upon request.
			</p>
		</li>
		<li class="sub_title">
			What are the computer system requirements?
		</li>
		<li>
			<p>
				You need a minimal Internet connection speed of 1.5 Mbps and a common web browser such as Internet Explorer 8+, Firefox 8+, Safari 4+ or Google Chrome. We recommend you use <%= link_to "Google Chrome", "https://www.google.com/chrome/?brand=ECWB&installdataindex=welcome-ntp&&brand=CHMA&utm_campaign=en&utm_source=en-ha-na-us-bk&utm_medium=ha", :class => 'public' %> for the best possible experience. You may also need to download a free Flash player from <%= link_to "Adobe", "http://get.adobe.com/flashplayer/", :class => 'public' %>.
			</p>
		</li>
		<li class="sub_title">
			What's the best way to determine if this will work with my system?
		</li>
		<li>
			<p>
				Be sure to try the <%= link_to "demo", demo_path, :class => 'public' %> to determine if Ko's Journey will work with your system. If you encounter 	technical problems, please <%= link_to "contact us.", contact_path, :class => 'public' %>.
			</p>
		</li>
		<li class="sub_title">
			Do I get a CD?
		</li>
		<li>
			<p>
				Ko's Journey is web-based technology that plays directly in common web browsers (such as Internet Explorer) and does not require a CD to play.
			</p>
		</li>
		<li class="sub_title">
			Do you offer a free trial period?
		</li>
		<li>
			<p>
				We offer an on-line <%= link_to "demo", demo_path, :class => 'public' %> for you to experience the interactive play of one math problem found in Ko's Journey.
			</p>
		</li>
	</ul>
</div>
<div class="column_2 no_pad">
	<ul class="public">
		<li class="sub_title">
			What types of payments do you accept?
		</li>
		<li>
			<p>
				We accept all major credit cards. We also offer direct billing (purchase orders) with net 30 terms for classroom and school site license purchases.
			</p>
		</li>
		<li class="sub_title">
			How long do the licenses last?
		</li>
		<li>
			<p>
				There is not an expiration on your purchased licenses, however they can only be used once. Once a student license has been setup, it cannot be used for another student.
			</p>
		</li>
		<li class="sub_title">
			Is there a long-term contract?
		</li>
		<li>
			<p>
				No, you are only charged one time. You have the option to purchase additional teacher and student licenses from within your account at anytime.
			</p>
		</li>
		<li class="sub_title">
			Any suggestions for how to introduce Ko's Journey to my student(s)?
		</li>
		<li>
			<p>
				An easy way for teachers to introduce students to the game is to watch the original <%= link_to "classroom video", "http://www.youtube.com/watch?v=lnLoo4E94zE", :class => 'public' %>. Like any good story, engagement is based on the introduction. Creating curiosity about the new math curriculum is a way to enhance your student's level of participation and interest.
			</p>
		</li>
		<li class="sub_title">
			Can I get a refund?
		</li>
		<li>
			<p>
				We have included a <%= link_to "demo", demo_path, :class => 'public' %> on the website that functions with the same technology to ensure your satisfaction prior to purchase. We offer a 30-day money back guarantee from the date of purchase. To request a refund, you must cancel your account and send an email refund request to <%= link_to "billing@kosjourney.com", "mailto: billing@kosjourney.com", :class => 'public' %> prior to the end of 30 days after account activation.
			</p>
		</li>
	</ul>
</div>
</div>
<%= separator %>