<div id="initial_student_notice_window" class="overlay simple_overlay">
  <div class="close"></div>
  <div class="content">
    <h2>Congratulations! You've added your first student!</h2>
    <p>
      To get started using this student account. Please follow these steps.
    </p>
    <%= simple_separator %>
    <header class="section_header">Step 1:</header>
    <%= image_tag("help/setup_student_small.png") %>
    <p>
      Take note of your students login credentials
    </p>
  	<%= clear %>
    <%= simple_separator %>
    <header class="section_header">Step 2:</header>
    <%= image_tag("help/teacher_logout_help.png") %>
    <p>
      <b>Logout</b> as a teacher if youre on the same computer.
    </p>
    <%= clear %>
    <%= simple_separator %>
    <header class="section_header">Step 3:</header>
    <%= image_tag("help/student_login_help.png", :class => "last_image") %>
    <p>
      Login using your student credentials.
    </p>
  </div>
</div>