<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <%= render partial: "layouts/application/headmeta" %>
</head>
<body>
  <%= render partial: 'layouts/flash', locals: {flash: flash} %>
  <header id="hd">
    <div id="mast_header">
      <%= render partial: "layouts/application/header" %>
    </div>
  </header>
  
  <!-- Application Layout -->
  <div id="bd">
    <section id="sidebar">
      <%= yield :sidebar %>
      <%= clear %>
    </section>
    <section id="content">
      <%= yield %>
      <%= clear %>
    </section>
    <%= clear %>
  </div>
  <%= render partial: 'layouts/application/footer' %>
  <%= render partial: "layouts/cdn_scripts" %>
  <%= render partial: "layouts/application/scripts" %>
  <%= clear %>
</body>
</html>